<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <nav>
    <div class="navbar-nav">
      {{#if loggedIn}}
        <a
          class="nav-link"
          href="/users/{{loggedUserId}}/dashboard"
        >Dashboard</a>
        <a class="nav-link" href="/users/{{loggedUserId}}/friends">Friends</a>
        <a class="nav-link" href="/users/{{loggedUserId}}/profile">Profile</a>
        <a class="nav-link" href="/auth/logout">Logout</a>
        <img src="/images/1ae84899a7b5482795b713c8239825f8-PhotoRoom.png-PhotoRoom.png" alt="logo" id="logo">
        {{/if}}
      {{#if loggedOut}}
        <img src="/images/1ae84899a7b5482795b713c8239825f8-PhotoRoom.png-PhotoRoom.png" alt="logo" id="logo">
        <a class="nav-link" href="/auth/login">Login</a>
        <a class="nav-link" href="/auth/signup">Sign-up</a>
         {{/if}}
    </div>
  </nav>

  <body>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>