<h2>{{user.username}}</h2>

{{#each user}}
{{!-- <img src="{{imgUrl}}" alt="userPic"> --}}
<p>{{username}}</p>
<p>{{email}}</p>
{{!-- <p>{{friends.length()}}</p> --}}
<p>languages:</p>
{{!-- <img src="{{this.languages.imgUrl}}" alt="languagesFlags"> --}}
{{/each}}