

<a href="/users/edit-profile/{{user._id}}">Edit Profile</a>


{{!-- <img src="{{imgUrl}}" alt="userPic"> --}}
<img src="{{user.image}}" alt="profile">
<p>{{user.username}}</p>
<p>{{user.email}}</p>
{{!-- <p>{{friends.length()}}</p> --}}
<p>languages:</p>
{{!-- <img src="{{this.languages.imgUrl}}" alt="languagesFlags"> --}}


